<HTML>
	<HEAD>
		<TITLE>AB2 Template</TITLE>
		<BR>
	</HEAD>
	<P>
		Standard AB2Tech template
		<BR>
		<BR>	
		<u>Default Modifications</u>:
		<BR>
	</P>
	<TABLE>
		<TR>
			<TD>Board:</TD>
			<TD>Blank (4"x4" guides referenced from auxillary axis)</TD>
		</TR>
		<TR>
			<TD>Dimensions:</TD>
			<TD>Inches (duh)</TD>
		</TR>
		<TR>
			<TD>Fast Swap Grids(mils):</TD>
			<TD>10, 1</TD>
		</TR>
		<TR>
			<TD>Track Clearance(mils):</TD>
			<TD>6</TD>
		</TR>
		<TR>
			<TD>Via Diameter(mils):</TD>
			<TD>31</TD>
		</TR>
		<TR>
			<TD>Via Drill(mils):</TD>
			<TD>15</TD>
		</TR>
		<TR>
			<TD>Track Widths(mils):</TD>
			<TD>6, 10, 20, 30</TD>
		</TR>
		<TR>
			<TD>Default Text WxHxT(mils):</TD>
			<TD>32x32x3</TD>
		</TR>
		<TR>
			<TD>Default Line Width(mils):</TD>
			<TD>3</TD>
		</TR>
		<TR>
			<TD>Solder Mask Clearance(mils):</TD>
			<TD>0</TD>
		</TR>
		<TR>
			<TD>Plot Layers:</TD>
			<TD>F.Cu, B.Cu, B.SilkS, F.SilkS, B.Mask, F.Mask, Edge.Cuts (auxillary referenced)</TD>
		</TR>
		<TR>
			<TD>Gerber Export Directory:</TD>
			<TD>./cam (relative referenced)</TD>
		</TR>
	</TABLE>
	<P>
		<BR>
		(c)2017 AB2Tech
	</P>
</HTML>